@using NtlSystem.Models.DashboardModels
@using System.Collections.Generic
@model List<mDashboardSaleItem>

<table class="table table-bordered table-hover text-center tablesort">
    <thead>
        <tr class="bg-dark">
            <th class="text-white">Platform</th>
            <th class="text-white">Total Runtime</th>
            <th class="text-white">Status</th>
            <th class="text-white">Last Runtime</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var obj in Model)
        {
            string lastRtDtStr = obj.lastRuntime.ToString("yyyy-MM-dd");
            <tr>
                <td>@obj.platform</td>
                <td>@obj.todayRuntime</td>
                <td>@obj.status</td>
                <td>@lastRtDtStr</td>
            </tr>
        }
    </tbody>
</table>
