
@{
    ViewBag.Title = "Daily Tasks";
    Layout = "~/Views/Shared/_NavLayout.cshtml";
}

<style>
    /* Mobile Phone */
    @@media (max-width: 767px) {
        th:nth-child(3),
        th:nth-child(4),
        th:nth-child(5),
        td:nth-child(3),
        td:nth-child(4),
        td:nth-child(5) {
            display: none;
            width: 0;
            height: 0;
            opacity: 0;
            visibility: collapse;
        }
    }
</style>

<!-- To Copy Start -->
<div id="app">
    <div class="row d-flex justify-content-center">
        <div class="col">

            <div class="card" style="border-radius: 15px;">
                <div class="card-body p-3">
                    <!-- Insert Content Start -->
                    <div class="text-center">
                        <img src="~/Content/Images/check1.png" alt="Check" style="height: 100px; width: 100px">
                        <h2 class="my-4">Task List</h2>
                    </div>

                    <div class="row mt-3">
                        <div class="col">
                            <div class="text-center">
                                <btn id="genPackageBtn" class="btn btn-primary btn-lg">
                                    Generate Package Listing
                                </btn>
                            </div>
                        </div>
                        <div class="col">
                            <div class="text-center">
                                <btn id="genSummaryBtn" class="btn btn-success btn-lg">
                                    Generate Summary Listing
                                </btn>
                            </div>
                        </div>
                    </div>

                    <hr />

                    <div id="jobOrderTaskContent">

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- To Copy End -->

<script>
    const formatNum = (x) => (x < 10 ? `0${x}` : `${x}`);
    
    // Generate new Date()
    function getDate() {
        let dt = new Date();
        let date = `${formatNum(dt.getDate())}/${formatNum(dt.getMonth())}/${formatNum(dt.getFullYear())}`;
        let time = `${formatNum(dt.getHours())}:${formatNum(dt.getMinutes())}:${formatNum(dt.getSeconds())}`;
        return `${date}_${time}`;
    }

    let renderDiv = $("div[id='jobOrderTaskContent']");

    $("#genPackageBtn").on("click", e => {
        $.ajax({
            type: "get",
            url: "/jobOrderPostgres/PackageIdListingPartial",
            success: resp => {
                renderDiv.html(resp);
            }
        });
    });

    $("#genSummaryBtn").on("click", e => {
        $.ajax({
            type: "post",
            url: "/jobOrderPostgres/SummaryListingPartial",
            success: resp => {
                renderDiv.html(resp);
            }
        });
    });
</script>

