@model NtlSystem.Models.TNtlCustomerChat

<div class="row">
    <div class="col">
        <div class="float-end" style="height: 71px;">
            <div class="message my-message">@Model.message</div>
            <div class="message-data-time">@Model.created_date</div>
        </div>
    </div>
</div>