
@{
    ViewBag.Title = "Role";
    Layout = "~/Views/Shared/_NavLayout.cshtml";
}

<div class="white-box">
    <div class="border border-dark">
        <div class="row">
            <div class="col">
                <div class="bg-dark text-center h1 text-white">@ViewBag.Title</div>
            </div>
        </div>

        <div class="row m-2">
            <div class="col">
                <div id="roleFormContent">
                    @Html.Action("RoleGridViewPartial")
                </div>
            </div>
        </div>

    </div>
</div>

