
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_NavLayout.cshtml";
}

<div class="white-box" style="height: 500px;">
    <div style="display: flex; justify-content: center">
        <img src="~/Content/Images/homepage.png" style="height: 400px;" />
    </div>
</div>

